# generic
.DS_Store
.idea/
.vscode/

# python
__pycache__/
.pytest_cache/
.ruff_cache/
.venv/
dist/
build/
*.egg-info/

# go
bin/
gateway
*.exe
*.out
.coverprofile
coverage.out

# rust
target/

# runtime
.env
